/* App.css */

.App {
  text-align: center;
  background-color: #f9f9f9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.sidebar {
  width: 250px;
  height: 100vh;
  background: linear-gradient(to bottom, #111, #1a1a1a);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-right: 1px solid #222;
}

.profile {
  text-align: center;
  margin-bottom: 30px;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ff004f;
}

.menu ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 20px;
  color: #ccc;
  cursor: pointer;
  transition: 0.3s ease;
}

.menu li:hover,
.menu li.active {
  background: linear-gradient(to right, #ff004f, #7a0033);
  color: #fff;
}

.menu li svg {
  font-size: 18px;
}
.menu li a {
  color: white;
  text-decoration: none;
  gap: 12px !important;
  display: flex;
}
